@{ ViewData["Title"] = "Test Page"; }

<section class="populer-products">


    <div class="populer-products-content">
        <div class="container">
            <div class="card card-light">
                <div class="card-header">
                    <h3 class="card-title font-weight-bold">Queries List</h3>
                    <div class="card-tools">
                        @*<a class="btn-sm btn-info text-white" asp-area="Main" asp-controller="Test" asp-action="Create">
                                Create New Test
                            </a>*@
                    </div>

                </div>
                <div class="card-body">
                    <table id="tblData" class="table table-bordered table-hover" style="width:100%;">
                        <thead>
                            <tr>
                                <th>Customer Name</th>
                                <th>Queries</th>
                                <th>Reply</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>

        <div id="action" style="display: none;">
            <div class="text-center d-flex justify-content-center">
                <a class="btn-sm btn-success text-white mx-2" style="cursor:pointer">
                   Select
                </a>


            </div>
        </div>
    </div>
</section>
@section Styles{
    <link rel="stylesheet" href="~/css/bundles/dataTables.min.css">
    <link rel="stylesheet" href="~/css/bundles/sweetalert2.min.css">
    <link rel="stylesheet" href="~/css/bundles/toastr.min.css">
}

@section Scripts{
    <script src="~/js/bundles/dataTables.min.js"></script>
    <script src="~/js/bundles/sweetalert2.min.js"></script>
    <script src="~/js/bundles/toastr.min.js"></script>
    <script>"use strict";
    let userTable;

    $(function () {
        userTable = app.module.controls.load();
    });

    let app = {
        module: {
            controls: {
                load: function () {
                    return $("#tblData").DataTable({
                        ajax: {
                            url: "/Lab/Queries/GetAll",
                        },
                        scrollX: true,
                        columns: [
                            { data: "customerName", autoWidth: true },
                            { data: "queries", autoWidth: true },
                            { data: "reply", autoWidth: true },
                          

                            {
                                data: "id",
                                render: function (data, type, row) {
                                    $("#action .btn-success").attr(
                                        "href",
                                        `/Lab/Queries/ReplyToQuery/${data}`
                                    );

                                    return $("#action").clone().html();
                                },
                                autoWidth: true,
                            },
                        ],
                    });
                },
            },
        },
    };</script>


}
